::view-transition-old(cards) {
	animation: drop 1s;
	transform-origin: 60% 120%;
	z-index: 2;
}

::view-transition-new(cards),
::view-transition-new(cards-shadow) {
	animation: none;
}

@keyframes drop {
	80% {
		transform: rotatez(-10deg) translateY(170%);
		opacity: 1;
	}

	100% {
		transform: rotatez(-30deg) translateY(200%);
		opacity: 0;
	}
}

@keyframes slide {
	80% {
		transform: rotatez(-125deg);
		opacity: 1;
	}

	100% {
		transform: rotatez(-125deg);
		opacity: 0;
	}
}